# ==========================================
# CẤU HÌNH DATABASE CHO VERCEL & WEB SERVER
# ==========================================
MYSQL_HOST=161.118.202.174
MYSQL_PORT=3306
MYSQL_USER=nso_web
MYSQL_PASSWORD=NsoWebDb2026!@#
MYSQL_DATABASE=nso_test

# ==========================================
# CẤU HÌNH GAME SERVER STATUS PING
# ==========================================
GAME_SERVER_HOST=161.118.202.174
GAME_SERVER_PORT=14444
