# ==========================================
# CẤU HÌNH DATABASE CHO VERCEL & WEB SERVER
# ==========================================
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# ==========================================
# CẤU HÌNH GAME SERVER STATUS PING
# ==========================================
GAME_SERVER_HOST=
GAME_SERVER_PORT=
